<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
    <div class="sidebar-sticky">
      <br>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./childconx">
            <span style="font-size: 2em; color: Tomato;">
              <i class="fas fa-newspaper"></i>
            </span>
            Heures de connexion <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" routerLink="./childresults">
            <span style="font-size: 2em; color: yellow;">
              <i class="fas fa-child"></i>
            </span>
            Mes Enfants
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./childcharts">
            <span style="font-size: 2em; color: deeppink;">
              <i class="fas fa-chart-line"></i>
            </span>
            Progression
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./create">
            <span style="font-size: 2em; color:chartreuse;">
              <i class="fas fa-user-plus"></i>
            </span>
            Créer des comptes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./associate">
            <span style="font-size: 2em; color: cyan;">
              <i class="fas fa-users"></i>
            </span>
            Associer un enfant
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./profil">
            <span style="font-size: 2em; color: mediumslateblue;">
              <i class="fas fa-id-card"></i>
            </span>
            Profile
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./history">
            <span style="font-size: 2em; color: lightpink;">
              <i class="fas fa-history"></i>
            </span>
            Historique
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>