<br>
<br>
<br>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> <span style="font-size: 1em; color: deeppink;">
        <i class="fas fa-file"></i>
      </span> Cours - {{ id_module }} </h1>
  </div>

  <div class="container">

    <ngb-tabset type="pills" justify="center">
      <ngb-tab>
        <ng-template ngbTabTitle> <i class='fas fa-file'></i> Fiche de cours</ng-template>
        <ng-template ngbTabContent>
          <br>
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <span> <span class="badge badge-light" style="font-size: 2em; color: deeppink;">1</span>
                  <b>Introduction </b> </span>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon
                officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                moon
                tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                keffiyeh
                helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <span> <span class="badge badge-light" style="font-size: 2em; color: deeppink;">2</span>
                  <b>Les Capteurs </b> </span>
              </ng-template>
              <ng-template ngbPanelContent>

                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon
                officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                moon
                tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                keffiyeh
                helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>

            <ngb-panel>
              <ng-template ngbPanelTitle>
                <span> <span class="badge badge-light" style="font-size: 2em; color: deeppink;">3</span>
                  <b>Les Fragments </b> </span>
              </ng-template>
              <ng-template ngbPanelContent>

                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon
                officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                moon
                tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                keffiyeh
                helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>

          </ngb-accordion>
        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle> <i class="far fa-file-pdf"></i> Documents </ng-template>
        <ng-template ngbTabContent>
          <br>
          <table *ngIf="Cours && Cours?.length > 0" class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Titre</th>
                <th>Type</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let cour of Cours">

                <td>{{ cour.nom }}</td>
                <td *ngIf="cour.type == 'pdf'"> <span style="font-size: 2em; color: Tomato;">
                    <i class="far fa-file-pdf"></i>
                  </span> </td>
                <td *ngIf="cour.type == 'video'"> <i class="fas fa-video"></i> </td>
                <td><button type="submit" name="button" value="{{cour.lien}}" (click)="open(cour)"
                    class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Open</button></td>
              </tr>
            </tbody>

          </table>

          <div *ngIf="Cours?.length == 0" class="alert alert-primary">
            <strong> Aucun Résultat </strong>
          </div>

        </ng-template>

      </ngb-tab>


      <ngb-tab>
        <ng-template ngbTabTitle> <i class='fas fa-film'></i> Video</ng-template>
        <ng-template ngbTabContent>
          <br>
          <div class="container-fluid pb-video-container">
            <div class="col-md-12 col-md-offset-1">
              <div class="row pb-row">
                <div class="col-md-4 pb-video">
                  <iframe width="100%" height="230" src="https://www.youtube.com/embed/XpB4SZCgIv0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center">title</label>

                </div>
                <div class="col-md-4 pb-video">
                  <iframe width="100%" height="230" src="https://www.youtube.com/embed/Mng0OB3JHmg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center">title</label>

                </div>
                <div class="col-md-4 pb-video">
                  <iframe width="100%" height="230" src="https://www.youtube.com/embed/M6pi6jXpRrs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center">title</label>

                </div>
              </div>
              <div class="row pb-row">

                <div class="col-md-4 pb-video">
                  <iframe width="100%" height="230" src="https://www.youtube.com/embed/dFlPARW5IX8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center">title</label>

                </div>
                <div class="col-md-4 pb-video">
                  <iframe width="100%" height="230" src="https://www.youtube.com/embed/IvVhGmWxXvg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center">title</label>

                </div>
                <div class="col-md-4 pb-video">
                  <iframe width="100%" height="230" src="https://www.youtube.com/embed/lF5m4o_CuNg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center">title</label>

                </div>
              </div>
            </div>
          </div>

        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle> <i class="far fa-sticky-note"></i> Exercices </ng-template>
        <ng-template ngbTabContent>
          <br>
          <form (submit)="EditProfil($event)">

            <div class="form-group">
              <label> Question 1 ? </label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                  True
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                  False
                </label>
              </div>

            </div>

            <div class="form-group">
              <label> Question 2 ? </label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                  True
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                  False
                </label>
              </div>
            </div>

            <div class="form-group">
              <label> Question 3 ? </label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                  True
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                  False
                </label>
              </div>

            </div>
            <button type="submit" class="btn btn-success"><i class="fas fa-check-square"></i> Submit</button>
          </form>
        </ng-template>
      </ngb-tab>




    </ngb-tabset>

  </div>