<br>
<br>
<br>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> <span style="font-size: 1em; color: blue;">
        <i class="fas fa-cart-plus"></i> </span> Acheter des cours</h1>
    <h4> <i class="fas fa-money-check-alt"></i> Crédits : {{ user.credits | currency }}</h4>
  </div>

  <div class="container">
    <table class="table table-hover" *ngIf="modules && modules?.length > 0">
      <thead class="thead-light">
        <tr>
          <th>Identifiant</th>
          <th>Matiere</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let module of modules">
          <td>
            <span style="font-size: 1em; color:saddlebrown;">
              <i class="fas fa-folder-open"></i>
            </span> {{ module.id }}
          </td>
          <td>{{ module.matiere }}</td>
          <td>{{ module.price | currency }}</td>
          <td><button type="submit" name="button" value="{{module.id}}" (click)="Buy(module)"
              class="btn btn-primary btn-sm"> <i class="fas fa-shopping-cart"></i> Buy</button></td>
        </tr>
      </tbody>

    </table>

    <div *ngIf="modules?.length == 0" class="alert alert-primary">
      <strong> Aucun Résultat </strong>
    </div>

    <div *ngIf="data && !data.error" class="alert alert-success">
      <strong>Success!</strong> {{ data.message }}
    </div>

    <div *ngIf="data && data.error" class="alert alert-danger">
      <strong>Error!</strong> {{ data.message }}
    </div>

  </div>
</main>