<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
    <div class="sidebar-sticky">
      <br>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./dashboard">
            <span style="font-size: 2em; color: Tomato;">
              <i class="fas fa-newspaper"></i>
            </span>
            Nouveauté <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#" routerLink="./mysubs">
            <span style="font-size: 2em; color: plum;">
              <i class="far fa-file"></i>
            </span>
            Mon Abonnement
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#" routerLink="./cours">
            <span style="font-size: 2em; color: yellow;">
              <i class="fas fa-folder"></i>
            </span>
            Mes Cours
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./buycours">
            <span style="font-size: 2em; color: blue;">
              <i class="fas fa-shopping-bag"></i>
            </span> Acheter un cours
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./results">
            <span style="font-size: 2em; color: cyan;">
              <i class="fas fa-poll-h"></i>
            </span>
            Mes Resultats
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./progression">
            <span style="font-size: 2em; color: deeppink;">
              <i class="fas fa-chart-line"></i>
            </span>
            Progression
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="./profil">
            <span style="font-size: 2em; color: mediumslateblue;">
              <i class="fas fa-id-card"></i>
            </span>
            Profile
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>