<app-navbar-student></app-navbar-student>
<br><br>
<style>
</style>
    <nav class="col-md-2 bg-dark sidebar navbar navbar-expand-md">
      <div class="sidebar-sticky">
        <br>
        <ul class="nav flex-column">
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="./nouveaute">
                <img src="../../../../assets/img/philosophie.svg">
              Nouveauté
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" routerLink="./mescours">
              <i class="fas fa-folder"></i>
              Mes Cours
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="./buycours">
              <i class="fas fa-shopping-cart"></i>
              Acheter un cours
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-shopping-cart"></i>
              Faire des Qcms
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-poll-h"></i>
              Mes Resultats
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-chart-line"></i>
              Progression
            </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="fas fa-envelope-square"></i>
              Contacter un enseigant
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="fas fa-id-card"></i>
              Profile
                </a>
              </li>
        </ul>
      </div>
    </nav>
