<br>
<br>
<br>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> <span style="font-size: 1em; color: cyan;">
        <i class="fas fa-users"></i>
      </span> Associer un enfant </h1>
  </div>

  <div class="container">
    <br>
    <br>
    <form (submit)="Associer($event)" class="center">

      <div class="form-group">
        <label>ID:</label>
        <input type="text" class="form-control" [(ngModel)]="user.id" id="id" name="id">
      </div>
      <button type="submit" class="btn btn-primary"> <i class="fas fa-user-check"></i> Associer</button>
    </form>
  </div>

</main>