<br>
<br>
<br>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">#{{ id }}</h1>
  </div>

  <div class="container">
    <ngb-tabset type="pills" justify="center">
      <ngb-tab>
        <ng-template ngbTabTitle> <i class='fas fa-file'></i> Résultats</ng-template>
        <ng-template ngbTabContent>
          <br>
          <div *ngIf="Results && Results?.length > 0">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Nom de qcm</th>
                  <th>Date</th>
                  <th>Résultat</th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let result of Results">
                  <tr *ngIf="result.result < 50; else elseGood" class="table-danger">
                    <td> {{ result.id_module }} </td>
                    <td> {{ result.nom }} </td>
                    <td> {{ result.date }} </td>
                    <td> {{ result.result+"%" }} </td>
                  </tr>
                  <ng-template #elseGood>
                    <tr class="table-success">
                      <td> {{ result.id_module }} </td>
                      <td> {{ result.nom }} </td>
                      <td> {{ result.date }} </td>
                      <td> {{ result.result+"%" }} </td>
                    </tr>
                  </ng-template>
                </ng-container>
              </tbody>

            </table>
          </div>

          <div class="alert alert-primary" *ngIf="Results?.length == 0">
            <strong> Aucun Résultat </strong>
          </div>

        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle> <i class="fas fa-chart-line"></i> Progression </ng-template>
        <ng-template ngbTabContent>
          <br>
          <table *ngIf="Modules && Modules?.length > 0" class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Matiere</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let module of Modules" (click)="ShowGraph(module)">
                <td><i class=" fas fa-folder-open"></i> {{ module.id }}</td>
                <td>{{ module.matiere }}</td>
              </tr>
            </tbody>

          </table>

          <div *ngIf="Modules?.length == 0" class="alert alert-primary">
            <strong> Aucun Résultat </strong>
          </div>
          <app-childcharts *ngIf="message" [message]="message"></app-childcharts>
        </ng-template>

      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle> <i class="fas fa-newspaper"></i> Historique </ng-template>
        <ng-template ngbTabContent>
          <br>
          <table class="table table-hover" *ngIf="history && history?.length > 0">
            <thead class="thead-light">
              <tr>
                <th>Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hist of history">
                <td>{{hist.date}}</td>
                <td>{{hist.description}}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="history?.length == 0" class="alert alert-primary">
            <strong> Aucun Résultat </strong>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle> <i class="far fa-clock"></i> Heures de connexion </ng-template>
        <ng-template ngbTabContent>
          <br>
          <table *ngIf="ChildHistoryConnexion && ChildHistoryConnexion?.length > 0" class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th><i class="far fa-clock"></i> Date</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let his of ChildHistoryConnexion">
                <td> {{ his.id }}</td>
                <td>{{ his.date }}</td>
              </tr>
            </tbody>

          </table>

          <div *ngIf="ChildHistoryConnexion?.length == 0" class="alert alert-primary">
            <strong> Aucun Résultat </strong>
          </div>
        </ng-template>

      </ngb-tab>



    </ngb-tabset>
    <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
  </div>

</main>