<br>
<br>
<br>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> <span style="font-size: 1em; color: Tomato;">
        <i class="fas fa-child"></i>
      </span> Détails des enfants</h1>
  </div>

  <div class="container">
    <table class="table table-hover" *ngIf="Childrens && Childrens?.length > 0">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Age</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let children of Childrens">
          <td>{{ children.id }} </td>
          <td>{{ children.nom }}</td>
          <td>{{ children.prenom }}</td>
          <td>{{ children.age }} </td>
          <a [routerLink]="['./', children.id]">
            <td><button type="submit" name="button" value="{{children.id}}" class="btn btn-success btn-md"><i
                  class="fas fa-external-link-alt"></i> voir détails </button></td>
          </a>
        </tr>
      </tbody>

    </table>

    <div class="alert alert-primary" *ngIf="Childrens?.length == 0">
      <strong> Aucun Résultat </strong>
    </div>
  </div>

</main>