<br>
<br>
<br>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h5 class="h2"> <span style="font-size: 1em; color: yellow;">
        <i class="fas fa-news-paper"></i>
      </span> Bonjour {{ user.prenom }}, bienvenue sur ton tableau de bord 👋 </h5>
  </div>
  <div>
    <a>

    </a>
  </div>

  <br>
  <br>

  <div class="container">
    <div style="background-color:white" class="border">
      <div class="row">
        <div class="col">
          <img src="..//..//..//..//assets/img/anglais.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>
        <div class="col">
          <img src="..//..//..//..//assets/img/allemand.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>
        <div class="col">
          <img src="..//..//..//..//assets/img/espagnol.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/geographie.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/histoire.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/mathematiques.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/philosophie.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/physique-chimie.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/svt.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

      </div>
    </div>
  </div>