<br>
<br>
<br>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h5 class="h2"> <span style="font-size: 1em; color: yellow;">
        <i class="fas fa-news-paper"></i>
      </span> Bonjour {{ user.prenom }}, bienvenue sur ton tableau de bord 👋 </h5>
  </div>
  <div>
    <a>

    </a>
  </div>

  <br>
  <br>

  <div class="container">
    <!-- <div style="background-color:white" class="border">
      <div class="row">
        <div class="col">
          <img src="..//..//..//..//assets/img/anglais.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>
        <div class="col">
          <img src="..//..//..//..//assets/img/allemand.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>
        <div class="col">
          <img src="..//..//..//..//assets/img/espagnol.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/geographie.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/histoire.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/mathematiques.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/philosophie.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/physique-chimie.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

        <div class="col">
          <img src="..//..//..//..//assets/img/svt.svg">
        </div>
        <div class="col">
          <h5>/20 </h5>
        </div>

      </div>
    </div> -->
    <h2> Derniers documents ajoutés </h2>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Matiere</th>
          <th>Nom</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let cour of Cours">

          <td>{{ cour.matiere }}</td>
          <td>{{ cour.nom }}</td>
          <td *ngIf="cour.type == 'pdf'"> <span style="font-size: 2em; color: Tomato;">
              <i class="far fa-file-pdf"></i>
            </span> </td>
          <td *ngIf="cour.type == 'video'"> <i class="fas fa-video"></i> </td>
          <td><button type="submit" name="button" value="{{cour.lien}}" (click)="open(cour.lien)"
              class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Open</button></td>
        </tr>
      </tbody>

    </table>
    <hr>
    <h2> Derniere videos ajoutés </h2>
    <br>
    <div class="container-fluid pb-video-container">
      <div class="col-md-12 col-md-offset-1">
        <div class="row pb-row">
          <div class="col-md-4 pb-video">
            <iframe width="100%" height="230" src="https://www.youtube.com/embed/XpB4SZCgIv0" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 pb-video">
            <iframe width="100%" height="230" src="https://www.youtube.com/embed/Mng0OB3JHmg" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 pb-video">
            <iframe width="100%" height="230" src="https://www.youtube.com/embed/M6pi6jXpRrs" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>